:root {
  /* CSS HEX */
  --hookers-green: #486a5b;
  --satin-sheen-gold: #cd9844;
  --vegas-gold: #d0b05d;
  --misty-moss: #d1ca87;
  --magnolia: #f6eef8;
}

@import url("https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans:wght@300;400&display=swap");

html {
  background-color: var(--magnolia);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

body {
  margin: 0;
}

p {
  margin: 0 0 1rem;
}
